.courses-page-outer-div {
  margin-top: 8rem;
}

.user-courses-header-name-text {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
  /* margin-bottom: 40px; */
}

.user-courses-header-desc-text {
  font-size: 1.5rem;
  font-weight: 100;
  font-family: Rubik;
  margin-top: 40px;
}
