.user-single-unit-title-desc-div {
  background-image: linear-gradient(to right, #dbebff, #b3d4ff);
  background-image: linear-gradient(to right, white, #dbebff, #b3d4ff);

  /* background-image: linear-gradient(to right, #dbebff, #c94c92); */
  box-shadow: 0 0 0.5rem 0 rgb(0, 0, 0, 0.9);
  border-radius: 1.5rem;
}

.user-single-unit-quiz-cert-outer-div {
  /* margin-top: 3rem; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10rem;
  /* border: 1px solid blue; */
}

.user-single-unit-quiz-div {
  /* margin-top: 6rem; */
  /* width: 50%; */
  /* border: 1px solid red; */
}
