#page4{
    height: 100vh;
    width: 100%;

}

 .contactS{
  margin: 0;
  padding: 0;
  padding-top: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background: #397485;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  margin-top: 30px;
}
.contactS::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #2b4053 ;
}
.contactS .container4{
  position: relative;
  min-width: 1100px;
  min-height: 650px;
  display:flex;
  z-index: 1000;


}
.contactS .container4 .contactinfo{
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100%-80px);
  background: #397485;
  z-index: 1;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);

}
.contactS .container4 .contactinfo h2{
  color: black;
  font-size: 34px;
  font-weight: bold;
  font-family: 'Poppins',sans-serif;

}
.contactS .container4 .contactinfo .info{
  position: relative;
  margin: 12px 0px;
  color: black;

}
.contactS .container4 .contactinfo .info li{
  position: relative;
  list-style: none;
  display: flex;
  margin: 38px 0;
  cursor: pointer;
  align-items: flex-start;

}
.contactS .container4 .contactinfo li span:nth-child(1){
  width: 30px;
  height: 30px;

}
.contactS .container4 .contactinfo li span:nth-child(1) img{
  width: 26px;
  height: 26px;
  padding-top: 2px;



}
.contactS .container4 .contactinfo li span:nth-child(2){
  color: black;
  margin-left: 10px;
  font-weight: bold;

  font-family: 'Poppins',sans-serif;


}
.contactS .container4 .contactinfo li:hover span:nth-child(1) img,
.contactS .container4 .contactinfo li:hover span:nth-child(2){
  opacity:1;
  color: white;

}
.contactS .container4 .contactinfo .social{
  position: relative;
  display:flex;

}
.contactS .container4 .contactinfo .social li{
  list-style: none;
  margin-right: 17px;

}
.contactS .container4 .contactinfo .social li a{
  text-decoration: none;


}
.contactS .container4 .contactinfo .social li a img{

}
.contactS .container4 .contactinfo .social li:hover a img{
  color: white;
    opacity:1;
}
.contactS .container4 .contactform{
  position: absolute;
  padding: 70px 50px;
  background: white;
  margin-left: 280px;
  padding-left: 250px;
  width: calc(100%-150px);
  height: 80%;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.8);


}
.contactS .container4 .contactform h2{
  color: navy;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Poppins',sans-serif;

}
.contactS .container4 .contactform .formBox{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;

}
.contactS .container4 .contactform .formBox .inputBox{
  position: relative;
  margin: 0 0 35px 0;

}
.contactS .container4 .contactform .formBox .inputBox.w50{
  width: 47%;

}
.contactS .container4 .contactform .formBox .inputBox.w100{
  width: 100%;
}
.contactS .container4 .contactform .formBox .inputBox input,
.contactS .container4 .contactform .formBox .inputBox textarea
{
  width: 100%;
  padding: 5px 0;
  font-size: 18px;
  resize: none;
  font-weight: 300;
  color: black;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;
  font-family: sans-serif;
}
.contactS .container4 .contactform .formBox .inputBox textarea{
  min-height: 120px;
}
.contactS .container4 .contactform .formBox .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 15px;
  font-weight: 600;
  color: black;
  transition: 0.5s;
  pointer-events: none;
}
.contactS .container4 .contactform .formBox .inputBox input:focus ~ span,
.contactS .container4 .contactform .formBox .inputBox textarea:focus ~ span,
.contactS .container4 .contactform .formBox .inputBox input:valid ~ span,
.contactS .container4 .contactform .formBox .inputBox textarea:valid ~ span{
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1;
  color: #ff568c;
}
.contactS .container4 .contactform .formBox .inputBox input[type="submit"]{
  position: relative;
  cursor: pointer;
  background:#10162F;
  color: white;
  border-radius: none;
  max-width: 150px;
  padding: 12px;


}
.contactS .container4 .contactform .formBox .inputBox input[type="submit"]:hover{
  background: #397485;
}
