.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 10%;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin-bottom: 7%;
}
/* #verticles{
    
} */
#verticleHeading {
  font-family: "Montserrat", sans-serif;
  margin-top: 10%;
}

.user-home-outer-div {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* CSS For Verticle card */
