.head {
    padding: 15px 0;
    color: black;
  }
  
  .head .icon {
    margin-left: 10px;
  }
  /*--------head------------*/
  /*--------header------------*/
  header {
    background-color: #cfe8a9;
    margin: 0 30px;
  }
  header .nav {
    display: flex !important;
  }
  header li {
    margin-right: 40px;
  }
  header ul {
    padding: 25px 50px;
  }
  header ul li a {
    color: black;
    font-weight: 500;
    transition: 0.5s;
    font-size: 20px;
  }
  header ul li a:hover {
    color: #0a2647;
  }
  .start {
    background-color: #379956;
    padding: 25px 70px;
    color: black;
    font-size: 20px;
    cursor: pointer;
  }
  .start:hover {
    background-color: #0a2647;
    color: white;
  }
  .toggle {
    display: none;
  }
  /*--------header------------*/
  @media screen and (max-width: 768px) {
    .start {
      clip-path: none;
    }
    header {
      margin: 0;
      background-color: #cfe8a9;
      position: relative;
    }
    header ul.flexSB {
      display: none;
    }
    header ul li {
      margin-bottom: 20px;
    }
    .toggle {
      display: block;
      background: none;
      color: #fff;
      font-size: 30px;
      position: absolute;
      right: 0;
      top: -20px;
    }
    .mobile-nav {
      position: absolute;
      top: 13vh;
      left: 0;
      width: 100%;
      background-color: #cfe8a9;
    }
  }
  